
body {
  background-color: rgb(9, 0, 65);
  height: 95vh;
  width: 100vw;
  color: white;
  margin: 0;
  /* overflow: hidden; */
  font-family: 'Atkinson Hyperlegible', sans-serif;
    /* font-family: 'Outfit', sans-serif; */
}


.cust-timeline {
  display: flex;
}

.cust-imagebox{
  min-width: 85px;
}

#whole-TL {
  /* background-color: red; */
  position: relative;
  top:15vh;
  display: flex;
}

.buffer {
  min-width: 100vw;
  /* background-color: yellow; */
  /* color: black; */
}



.timeline {
  position: relative;

  display: flex;
  height: 50vh;
  background-color: rgb(15, 50, 249, 0.2);
  /* overflow-x: hidden; */
  flex-shrink: 0;
  /* width: 720px; */
  /* flex-wrap: wrap; */
/* items for mobile */
  /* flex-direction: column;
  align-items: center; */
}

.imagebox {
  background-color: peachpuff;
  display: flex;
  /* outline: 1px black solid; */
  width: 60vmin;
  overflow: hidden;
  max-height: 50vh;
  /* height: 15vmin; */
  /* min-width: 100px; */
  /* width: 210px; */
  max-width: 45%;
  /* height: 400px; */

  color: black;
  font-weight: bolder;
  /* text-align: center; */
  /* needed for positioning based on specific times */
  position: absolute;
  cursor: pointer;
  transition-timing-function: ease;
    transition-duration: 400ms;
}

.imagebox:hover {
  transform: scale(1.04);
}

.imagebox:active {
  transform: scale(1);
}

.minitimeline {
  background-color: grey;
  position: fixed;
  bottom: 20px;
  left: 15%;
  height:auto;
  min-height: 10vh;
  min-width: 70%;
}

.timeline-image {
  /* max-width: 100px; */
  max-width: 100%;
  object-fit: cover;
    object-position: center;
 }


.testitem {
  background-color: red;
  position: absolute;
}

.createform {
  background-color: orange;
}

#minimap {
  background: rgba(254, 213, 70, .1) -moz-element(#uni) no-repeat center / contain;
  position: fixed;
  max-width: 90vw;
  width: auto;
  height: auto;
  /* min-height: 10vh; */
  left: 15%;
  bottom: 10%;
  display: block;

}

#minimap-range {
  background-color: transparent;
  opacity: 0.4;
  /* CHANGED */
  /* outline: green 3px solid; */
  /* CHANGED */
  transition: opacity .2s;
  margin: 0;
  padding: 0;
  max-width: 90vw; /*(NOW same as #minimap's max-WIDTH)*/
  min-width: 100%;
  min-height: 10vh;
  height: auto; /*(NOW same as #minimap's HEIGHT) */
}

#minimap-range:hover {
  opacity: 0.6;
}

#minimap-range::-moz-range-thumb {
  width: 5px;
  height: 10vh; /*(NOT same as #minimap's HEIGHT)*/
  background-color: dodgerblue;
  cursor: pointer;
}

#minimap-range::-moz-range-track {
  background-color: transparent;
}

.imagelabel {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  font-size: 1.5rem;
  right: 6px;
  bottom: 6px;
  padding: 2px 5px; /*switch values around if using below*/
  /* QUESTION DO I WANT THIS */
  /* max-height: 93%; */
  /* writing-mode: vertical-rl;
  transform: rotate(180deg); */
  backdrop-filter: blur(10px);
}

.customplaceholder {
  background-color: yellow;
  color: black;
}

.time-marker {
  color: white;
  background-color: rgb(131, 201, 244, 0.5);
  position: absolute;
  top: -60px;
  padding: 5px 15px;
  font-size: 2rem;
}

h2 {
  position: fixed;
  /* background-color: red; */
  right: 5%;
  top: 5%;
  font-size: 1.8rem;
  animation: fadeIn 5s;
  margin: 0;
}

/* .counter {
  background-color: blueviolet;
  position: absolute;
  width:2000px;
  left: 200%;
  height: 50px;
} */

.bigbang {

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body[data-shown='false'] main {
  transform: translateY(-150%);
  transition: transform 1000ms ease;
}

body[data-shown='false'] #minimap
{
transform: translateY(-900%);
transition: transform 1000ms ease;
}

body[data-shown='true'] main {
  transform: translateY(0%);
  transition: transform 1000ms ease;
}

body[data-shown='true'] #minimap {
  transform: translateY(0%);
  transition: transform 1000ms ease;
}

.further-info {
  background-color: rgb(15, 50, 249, 0.2);
  color: black;
  position: fixed;
  animation: fadeIn 5s;
  width: 80vw;
  height: 70vh;
  /* bottom: 200px; */
  left: 10vw;
  bottom: -70%;

}

body[data-shown='false'] .further-info {
transform: translateY(-120%);
  transition: transform 1000ms ease;
}

body[data-shown='true'] .further-info {
  transform: translateY(0%);
  transition: transform 1000ms ease;
}

h3 {
  color: white;
  padding: 5px 25px;
}

button {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 5rem;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
}