
body {
  background-color: rgb(9, 0, 65);
  height: 95vh;
  width: 100vw;
  color: white;
  margin: 0;
  /* this overflow-hidden can be used without breaking sticky */
  /* overflow: hidden; */
  font-family: 'Atkinson Hyperlegible', sans-serif;
}



#time-counter {
  position: fixed;
  right: 5%;
  top: 5%;
  color: white;
  font-size: 1.7rem;
  animation: fadeIn 5s;
  margin: 0;
}

#wholeTL {
  position: relative;
  top:8vh;
  display: flex;
  height: 55vh;
}

.buffer {
  min-width: 100vw;
}



.time-marker {
  color: white;
  background-color: rgb(131, 201, 244, 0.5);
  position: absolute;
  /* top: -60px; */
  padding: 5px 15px;
  font-size: 2rem;
  z-index: 2;
}


.timeline {
  position: relative;
  display: flex;
  height: 50vh;
  top: 5vh;
background-image: linear-gradient(265deg,
      hsl(240deg 100% 20%) 0%,
      hsl(239deg 67% 23%) 13%,
      hsl(232deg 55% 24%) 24%,
      hsl(219deg 50% 25%) 35%,
      hsl(203deg 50% 24%) 45%,
      hsl(185deg 58% 22%) 54%,
      hsl(218deg 27% 33%) 62%,
      hsl(258deg 27% 39%) 70%,
      hsl(275deg 40% 41%) 77%,
      hsl(284deg 56% 42%) 85%,
      hsl(290deg 99% 37%) 100%);
  flex-shrink: 0;
  /* items for mobile */
  /* flex-direction: column;
  align-items: center; */
}

.tl-imagebox {
  /* background-color: peachpuff; */
  display: flex;
  /* outline: 1px black solid; */
  /* width: 60vmin; */
  max-height: 50vh;
  /* min-width: 100px; */
  width: 100vw;
  /* max-width: 45%; */
  color: black;
  font-weight: bolder;
  /* needed for positioning based on specific times */
  position: absolute;
/* object-fit: cover;
  object-position: center; */
}

.tl-image-and-tag:hover, button:hover {
  transform: scale(1.04);
}

.tl-image-and-tag:active, button:active {
  transform: scale(0.96);
}

.tl-image-and-tag {
  /* max-width: 50vw;
  height: 50vh; */
  cursor: pointer;
  /* width: 40vw; */
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 400ms;
  position: sticky;
  left: 0;
  align-self: flex-start;
 }

 .tl-image {
  max-width: 40vw;
  object-fit: cover;
  object-position: center;
  height: 50vh;
 }

.tl-imagetag {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  font-size: 1.5rem;
  left: 0.5vw;
  bottom: 1vh;
  pointer-events: none;
  padding: 7px 2px;
  /*switch values around if using below*/
  /* QUESTION DO I WANT THIS */
  /* max-height: 93%; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  backdrop-filter: blur(10px);
}

.testitem {
  background-color: red;
  position: absolute;
}

.createform {
  background-color: orange;
}


#minimap {
  background: rgba(254, 213, 70, .1) -moz-element(#wholeTL) no-repeat;
  background-size: 300%;
  background-position: 0%;
  background-attachment: scroll;
  position: fixed;
  min-width: 80vw;
  height: auto;
  /* min-height: 10vh; */
  left: 10%;
  bottom: 10%;
  display: block;

}

#minimap-range {
  background-color: transparent;
  opacity: 0.4;
  /* CHANGED */
  /* outline: green 3px solid; */
  /* CHANGED */
  transition: opacity .2s;
  margin: 0;
  padding: 0;
  max-width: 90vw; /*(NOW same as #minimap's max-WIDTH)*/
  min-width: 100%;
  min-height: 10vh;
  height: auto; /*(NOW same as #minimap's HEIGHT) */
}

#minimap-range:hover {
  opacity: 0.6;
}

#minimap-range::-moz-range-thumb {
  width: 10px;
  height: 10vh; /*(NOT same as #minimap's HEIGHT)*/
  background-color: dodgerblue;
  cursor: pointer;
}

#minimap-range::-moz-range-track {
  background-color: transparent;
}


.customplaceholder {
  background-color: yellow;
  color: black;
}


.cust-timeline {
  display: flex;
}

.cust-imagebox{
  min-width: 85px;
}


.bigbang {
/* NEED TO DO SOMETHING WITH THIS!!!! */
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% { opacity: 1; }
}

body[data-shown='true'] main {
  transform: translateY(-150%);
  transition: transform 1500ms ease;
}

body[data-shown='true'] #minimap
{
transform: translateY(-900%);
transition: transform 1500ms ease;
}

body[data-shown='false'] main {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

body[data-shown='false'] #minimap {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

.further-info {
  background-color: rgb(15, 50, 249, 0.2);
  color: black;
  position: fixed;
  width: 80vw;
  height: 70vh;
  /* bottom: 200px; */
  left: 10vw;
  bottom: -75%;
  box-shadow: 0 0 15px 15px rgb(15, 50, 249, 0.2);
}

body[data-shown='true'] .further-info {
transform: translateY(-130%);
  transition: transform 1500ms ease;
}

body[data-shown='false'] .further-info {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

h3 {
  color: white;
  font-size: 2rem;
  padding: 15px 30px;
}

button {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 4rem;
  width: 18rem;
  font-size: 1.5rem;
  font-weight: bold;
}


.info-text {
  height: 65%;
  width: 90%;
  left: 5%;
  /* display: flex; */
  position: absolute;
  background-color: bisque;
  word-wrap: break-word;
  font-size: 2rem;
}

span {
  /* font-weight: bolder; */
  font-size: 2rem;
  /* transform: translateY(500%); */
}

/* #splash {
  z-index: 999;
  opacity: 0.5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(9, 0, 65);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-title {
  color: #ffb700;
  font-size: 6rem;
  font-weight: bolder;
  transform: translateY(-4vh);
}

#logo {
  height: 10vmin;
  width: 10vmin;
  margin: 6vmin;
}

#logo:hover {
  animation-name: shake;
  animation-timing-function: ease;
  animation-duration: 0.05s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shake {

0% { transform: translate(0px,0px);}

20% { transform: translate(10px, 10px);}

40% {transform: translate(0px, 0px);}

60% {transform: translate(10px, -10px);}

80% {  transform: translate(0px, 0px);}

100% { transform: translate(-10px, -10px); }

} */