body {
  background-color: #090041;
  height: 95vh;
  width: 100vw;
  color: #ffb700;
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

#splash {
  z-index: 999;
  position: absolute;
  width: 100vw;
  height: 97vh;
  background-color: #090041;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#page-title {
  color: #ffb700;
  font-size: 6rem;
  font-weight: bolder;
  transform: translateY(-4vh);
}

#logo {
  height: 10vmin;
  width: 10vmin;
  margin: 6vmin;
  cursor: pointer;
}

#logo:hover:not(:active) {
  animation: shake ease 0.05s infinite alternate;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(10px, 10px);
  }

  40% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(10px, -10px);
  }

  80% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(-10px, -10px);
  }
}

#logo:active {
  transform: scale(0.6);
}

@keyframes explode {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(100);
  }

  50% {
    transform: scale(100);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#singularity {
  z-index: 99999;
  position: absolute;
  left: 50vw;
  border-radius: 50%;
  width: 4vw;
  height: 4vh;
  animation: explode ease 5s forwards;
  background: rgb(255, 183, 0);
  background: radial-gradient(
    circle,
    rgba(255, 183, 0, 1) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(255, 255, 255, 1) 100%
  );
}

#time-counter {
  position: fixed;
  right: 5%;
  top: 5%;
  color: #ffb700;
  font-size: 3rem;
  margin: 0;
}

#wholeTL {
  position: relative;
  display: flex;
  top: 8vh;
  height: 55vh;
}

.buffer {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.time-marker {
  color: #ffb700;
  font-weight: bolder;
  background-color: rgb(131, 201, 244, 0.2);
  position: absolute;
  padding: 5px 15px;
  font-size: 2rem;
  z-index: 2;
}

.timeline {
  position: relative;
  display: flex;
  height: 50vh;
  top: 5vh;
  background-image: linear-gradient(
    265deg,
    hsl(240deg 100% 20%) 0%,
    hsl(239deg 67% 23%) 13%,
    hsl(232deg 55% 24%) 24%,
    hsl(219deg 50% 25%) 35%,
    hsl(203deg 50% 24%) 45%,
    hsl(185deg 58% 22%) 54%,
    hsl(218deg 27% 33%) 62%,
    hsl(258deg 27% 39%) 70%,
    hsl(275deg 40% 41%) 77%,
    hsl(284deg 56% 42%) 85%,
    hsl(290deg 99% 37%) 100%
  );
  flex-shrink: 0;
}

.tl-imagebox {
  display: flex;
  /* max-height: 50vh; */
  /* width: 100vw; */
  font-weight: bolder;
  position: absolute;
  align-items: center;
}

#bigbangimgbox {
  margin-top: 5vh;
}

#bigbangimgbox,
.endimgbox {
  position: static;
  flex-direction: column;
  /* height: 50vh; */
  justify-content: center;
  align-items: center;
}

.tl-image-and-tag:hover,
button:hover {
  transform: scale(1.04);
}

.tl-image-and-tag:active,
button:active {
  transform: scale(0.96);
}

.tl-image-and-tag {
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 400ms;
  position: sticky;
  left: 0;
  align-self: flex-start;
}

#bigbangimg-and-tag {
  position: relative;
}

.tl-image {
  max-width: 40vw;
  object-fit: cover;
  object-position: center;
}

#bigbangimg {
  max-width: 60vw;
  object-position: top;
  object-fit: cover;
}

#intro {
  position: absolute;
  bottom: 23%;
  left: 3%;
  text-align: center;
  width: 90%;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 15px;
  pointer-events: none;
}

#finalcomment-p {
  font-size: 1.4rem;
}

#scrollindicator {
  width: 60px;
  color: #ffb700;
  position: fixed;
  font-size: 4rem;
  text-align: center;
  animation: bounce 1s ease infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(40px);
  }
}

@keyframes bouncedown {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 40px);
  }
}

.endimg {
  height: 30vh;
  max-width: 20vw;
}

.tl-imagetag {
  background-color: rgb(0, 0, 0, 0.6);
  color: #ffb700;
  position: absolute;
  font-size: 1.5rem;
  left: 0.5vw;
  bottom: 1vh;
  pointer-events: none;
  padding: 7px 2px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  backdrop-filter: blur(10px);
}

#minimap {
  background: rgba(254, 213, 70, 0.1) -moz-element(#wholeTL) no-repeat;
  background-size: 400%;
  background-position: 0%;
  background-attachment: scroll;
  position: fixed;
  min-width: 70vw;
  height: auto;
  left: 14%;
  bottom: 10%;
  display: block;
}

#minimap-range {
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.2s;
  margin: 0;
  padding: 0;
  max-width: 90vw;
  min-width: 100%;
  min-height: 10vh;
  height: auto;
}

#minimap-range:hover {
  opacity: 0.6;
}

#minimap-range::-moz-range-thumb {
  width: 10px;
  height: 10vh;
  background-color: orange;
  cursor: pointer;
}

#minimap-range::-moz-range-track {
  background-color: transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#time-counter.hidden {
  transform: translateY(-500%);
  transition: transform 1500ms ease;
}

#time-counter.shown {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

main.hidden {
  transform: translateY(-150%);
  transition: transform 1500ms ease;
}

main.shown {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

#minimap.hidden {
  transform: translateY(-900%);
  transition: transform 1500ms ease;
}

#minimap.shown {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

.further-info.shown {
  transform: translateY(-130%);
  transition: transform 1500ms ease;
}

.further-info.hidden {
  transform: translateY(0%);
  transition: transform 1500ms ease;
}

.further-info {
  background-color: rgb(15, 50, 249, 0.2);
  position: fixed;
  box-shadow: 0 0 15px 15px rgb(15, 50, 249, 0.2);
}

h3 {
  color: #ffb700;
  font-size: 2.6rem;
  display: inline;
  /* margin-top: 2rem; */
}

button {
  height: 3.2rem;
  width: 20vmax;
  font-size: 1.4rem;
  color: rgb(9, 0, 65);
  font-weight: bold;
  background-color: #ffb700;
  border: none;
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.info-title-text-link {
  display: flex;
  padding-left: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

#info-text {
  display: flex;
  background-color: rgb(255, 228, 196, 0);
  word-wrap: break-word;
  color: #ffb700;
  text-align: justify;
  gap: 1vw;
}

span {
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #ffb700;
  font-style: italic;
}

.furtherinfopic {
  width: 20vmax;
  height: 20vmax;
  object-fit: cover;
  object-position: center;
}

p {
  /* margin-right: 4rem; */
  font-size: 1rem;
}

.comment-holder {
  position: absolute;
  width: 120vw;
}

.comment {
  position: sticky;
  max-width: 30vw;
  padding: 2rem;
  font-size: 1.5rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

#timeline-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

.buffer:last-of-type {
  flex-direction: column;
  align-items: center;
  padding-left: 10vw;
  /* box-sizing: border-box; */
}

#final-image-comments {
  display: flex;
  gap: 10vw;
}
#final-images {
  display: flex;
  gap: 10vw;
}
#final-images-and-comments {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
}
#final-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10vmax;
}

#backToStart {
  height: 8vh;
  font-size: 1rem;
  width: 13vw;
  margin-bottom: 10vh;
  padding-left: 20px;
  padding-right: 20px;
}

@media (orientation: portrait) {
  .tl-image-and-tag {
    top: 0px;
  }
  #backToStart {
    width: 50vw;
    padding-left: 20px;
    padding-right: 20px;
  }
  button {
    font-size: 1rem;
    width: 13rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .arrow {
    margin-top: 0px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    width: 80vw;
    text-align: center;
    margin: 5px 0px;
  }
  .furtherinfopic {
    width: 50vw;
  }
  main.hidden {
    transform: translateX(-150%);
    transition: transform 1500ms ease;
  }

  main.shown {
    transform: translateX(0%);
    transition: transform 1500ms ease;
  }

  .further-info.shown {
    transform: translateX(-130%);
    transition: transform 1500ms ease;
  }

  .further-info.hidden {
    transform: translateX(0%);
    transition: transform 1500ms ease;
  }

  .further-info {
    width: 80vw;
    height: 87vh;
    top: 10vw;
    right: -94%;
  }

  #final-main {
    flex-direction: column;
  }
  #bigbangimg {
    max-width: 85vw;
    height: 50vh;
  }
  #intro {
    width: 94%;
    box-sizing: border-box;
    font-size: 0.8rem;
  }

  #page-title {
    font-size: 3.5rem;
  }
  #logo {
    width: 15vw;
    height: 15vw;
  }
  #cta {
    font-size: 1.5rem;
    width: 80vw;
    text-align: center;
  }
  #timeline-title {
    font-size: 1.5rem;
  }
  #wholeTL {
    flex-direction: column;
    left: 0px;
    width: 55vw;
  }

  .timeline {
    width: 80vw;
    left: 10vw;
  }
  .buffer {
    min-height: 100vh;
  }
  .buffer:last-of-type {
    top: 10vh;
    padding-left: 0vw;
    max-width: 70vw;
    position: relative;
  }
  .comment-holder {
    width: 80vw;
    height: 120vh;
  }
  #time-counter {
    font-size: 1rem;
    z-index: 10000;
    backdrop-filter: blur(10px);
    background-color: rgba(4, 50, 78, 0.572);
    padding: 2px 5px;
    top: 1%;
    right: 2%;
  }

  #scrollindicator {
    top: 80vh;
    position: absolute;
    left: 40vw;
    animation: bouncedown 2s ease infinite alternate;
  }

  .time-marker {
    width: auto;
    padding: 5px 5px;
    font-size: 1.5rem;
    z-index: 100;
    backdrop-filter: blur(10px);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .tl-image {
    max-width: 80vw;
    width: 80vw;
    height: 25vh;
    object-position: center;
  }
  .tl-imagebox {
    /* overflow: hidden; */
    flex-direction: column;
  }

  .tl-imagetag {
    font-size: 1rem;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    padding: 5px 5px;
  }

  .endimg {
    width: 35vw;
  }
  .endimgbox {
    width: 35vw;
  }

  .comment {
    box-sizing: border-box;
    max-width: 80vw;
    font-size: 1.2rem;
    padding: 1rem;
  }
  #finalcomment-box {
    width: 80vw;
  }

  #finalcomment-p {
    font-size: 0.8rem;
  }
}
@media (orientation: landscape) {
  .tl-image {
    height: 50vh;
  }
  .endimg {
    height: 30vh;
  }
  #finalcomment-box {
    display: flex;
    /* justify-content: center; */
    align-self: flex-start;
    padding-left: 14vw;
  }
  #final-images-and-comments {
    gap: 2vmin;
  }

  #final-main {
    align-items: center;
  }

  .further-info {
    width: 80vw;
    height: 80vh;
    left: 10vw;
    bottom: -95%;
  }
  #main-info-text,
  .link-text {
    font-size: 1.4rem;
    padding: 0rem 2rem;
    margin-top: 0px;
  }
  .return-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
  }
  .furtherinfopic {
    margin-right: 1rem;
  }
}

@media (pointer: coarse) and (orientation: landscape) {
  .comment {
    font-size: 1rem;
  }
#wholeTL{
  top: 3vh;
}

  #time-counter {
    font-size: 1.5rem;
    top: 3vh;
    right: 1vw;
  }
  #timeline-title {
    font-size: 2rem;
  }
  #bigbangimg-and-tag {
    width: 100%;
  }
  #bigbangimg {
    width: 100%;
  }
  #intro {
    bottom: 0%;
    padding: 10px;
    width: 95%;
    left: 0%;
  }
  #scrollindicator {
    top: 80vh;
    left: 40vw;
  }
  .time-marker {
    font-size: 1.1rem;
    top: -2vh;
  }
  .tl-imagetag {
    font-size: 0.9rem;
    left: 0vw;
  }
  #finalcomment-p {
    font-size: 0.8rem;
  }
  #final-image-comments {
    font-size: 0.8rem;
  }
  #backToStart {
    font-size: 0.8rem;
    height: 15vh;
    width: 16vw;
  }
  #main-info-text, .link-text{
    font-size: 0.8rem;
  }
  h3{
    font-size: 1.5rem;
margin: 1rem 0px;
  }
    .further-info {
    width: 80vw;
    height: 80vh;
    left: 10vw;
    bottom: 51.5%;
  }
  .info-title-text-link > button {
    font-size: 0.8rem;
    height: 10vh;
  }
  .info-title-text-link > button > span {
    font-size: 1.4rem;
  }
}
